.git
.gitignore
.env
.env.*
!.env.example

node_modules
dist
.dev-dist
.dev-dist-localhost
coverage
.nyc_output

logs
*.log
npm-debug.log*
tmp
temp
.tmp
.temp
*.tmp
*.temp

.cache
.eslintcache
*.tsbuildinfo

.vscode
.idea

test
**/*.spec.ts
scripts
tsconfig.dev.json
tsconfig.localhost.json
tsconfig.onedrive-safe.json
swagger.yaml
README.md
