.git
.gitignore
.env
.env.*

.venv
venv
env
__pycache__
*.pyc
*.pyo
.pytest_cache
pytest-cache-files-*
tests

data
examples
reports
docs

logs
*.log
tmp
temp
.tmp
.temp
*.tmp
*.temp

.vscode
.idea

README.md
pytest.ini
main.py
